<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="BRGS" value="https://pkgs.dev.azure.com/badgerowluke/_packaging/RelationalMapper/nuget/v3/index.json" />
    <add key="local" value="../../packages"/>
  </packageSources>
</configuration>