<div>


 
  <div id='side-nav' class='sidenav' (focusout)='closeNav()' >
    <pre *ngIf="auth.userProfile$ | async as profile">
      <a href="javascript:void(0)" [routerLink]="['profile']">
        <img style='height:36px;border-radius:16px;'src="{{profile.picture}}" class="avatar" alt="avatar">
      </a>
      
    </pre>
    <a href="javascript:void(0)" class='closebtn' (click)='closeNav()'>&times;</a>
    <a href="javascript:void(0)" (click)="auth.login()" *ngIf="!auth.loggedIn">Login</a>
    <a href="javascript:void(0)" (click)="auth.logout()" *ngIf="auth.loggedIn">Logout</a>
    <a href="javascript:void(0)" [routerLink]="['']" [state]="{data:{user: profile}}">search</a>
    <a href="javascript:void(0)" [routerLink]="['favorites']" [state]="{data:{user: profile}}">favorites</a>

  </div>      
  
  <div class='banner'>
    <div style='padding-left:8px;top:32px;position:relative;'>
      <span class="hamburger" (click)='openNav()' style='cursor:pointer;'></span>    
    </div>
    <h1><span class='title'>checking water conditions is hard</span></h1>
    <h3 class='subtitle'>
      Finding the information about whether it is safe (or fun) enough to get on your favorite river
      is hard.  We're hoping that this makes that task a little more painless so you can spend
      more time enjoying the outdoors.
    </h3>
  </div>


  <div class='outlet'>
      <router-outlet></router-outlet>
  </div>

</div>